@page "/signup"
@*@using YourApp.Models*@
@using Microsoft.AspNetCore.Components.Forms
@using SayanJobeDone.Shared.Models;

<h2>Sign Up</h2>

<EditForm Model="@signupModel" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Name</label>
        <InputText id="name" class="form-control" @bind-Value="signupModel.Name" />
        <ValidationMessage For="@(() => signupModel.Name)" />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" class="form-control" @bind-Value="signupModel.Email" />
        <ValidationMessage For="@(() => signupModel.Email)" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" class="form-control" type="password" @bind-Value="signupModel.Password" />
        <ValidationMessage For="@(() => signupModel.Password)" />
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <InputText id="confirmPassword" class="form-control" type="password" @bind-Value="signupModel.ConfirmPassword" />
        <ValidationMessage For="@(() => signupModel.ConfirmPassword)" />
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</EditForm>

@code {
    private SignUpModel signupModel = new SignUpModel();

    private void HandleSubmit()
    {
        if (signupModel.Password != signupModel.ConfirmPassword)
        {
            // TODO: Show password mismatch error message
            return;
        }

        // TODO: Perform signup logic
    }
}